/* card stuff */
#catalogContainer > div.card {
    background-color: rgb(255, 255, 255);
    margin: 5% 1% 10% 1%;
    border-radius: 6%;
    text-decoration: none;
}
img.imgPath {
    background-color: rgb(240, 240, 240);
    border-radius: 5% 5% 0% 0% ;
    width: 150px;
}
div.bottomDiv {
    padding:0 5% 5% 5%;
    color: gray;
    text-align: justify;
}
h3.title {
    font-size: 18px;
    font-weight: bold;
    color: rgb(255, 115, 0);
    font-family: sans-serif;
}

div.topDiv {
    background-color: rgb(240, 240, 240);
    border-radius: 5% 5% 0% 0% ;
}